body{
  margin: 0;
  padding: 0px;
}
/* .header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 70%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 15px;
  margin-right: 0px;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}
.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #2a2a2a;
  transition: all 0.3s ease 0s;
  border: rgba(0, 0, 0, 0);
  padding: 8px 15px;
  border-radius: 18px;
  letter-spacing: 1px;
}
.header-area a {
  text-decoration: none;
}
.header-area a:hover {
  border-radius: 18px;
  background-color: purple;
} */


#carousel{
  margin: auto; /* 居中 */
  width: 100%; /* 设置宽度 */
  position: relative; /* 相对定位 */
  overflow: hidden; /* 超出隐藏 */
  height: 800px;
}
#carousel img{
  width: auto; /* 设定大小 按比例缩放 */
}
#carousel > ul {
  display: flex; /* 图片处理为一行 */
  position: absolute; /* 设置绝对定位，实现相对于#carousel的绝对定位 */
}
#carousel > ul,
#carousel > ul > li{
  padding: 0;
  margin: 0;
  list-style:none; 
}
